COMPOSE_PROJECT_NAME=nd18-ag19-dn8-psql16

# API
API_HOST=api
API_PORT=8081
API_BASE_URL=http://${API_HOST}:${API_PORT}

# Base de datos

DB_HOST=${COMPOSE_PROJECT_NAME}-db
DB_NAME=${COMPOSE_PROJECT_NAME}-db
DB_USER=app_user
DB_PASSWORD=AppPasswordSeguro123
DB_PORT=5432
DB_SSL_MODE=disable

# WEB
WEB_PORT=4201

ASPNETCORE_ENVIRONMENT=Production

JWT_SECRET=change_this_super_secret_key_min_32_chars
JWT_ISSUER=${COMPOSE_PROJECT_NAME}-auth
JWT_AUDIENCE=${COMPOSE_PROJECT_NAME}-app
JWT_ACCESS_MINUTES=15